.slider-container {
    overflow-x: scroll;
    scroll-behavior: smooth;
    display: flex;
    flex-wrap: nowrap;
    width: 90%; /* Adjust width to suit the screen */
    scroll-snap-type: x mandatory;
    margin: 5% ;
  }
  
  .slider-content {
    display: flex;
    width: 600%; /* 6 items wide */
  }
  
  .slider-item {
    flex: 0 0 31.33%; /* Show 3 items at a time, 1/3rd of the container width */
    scroll-snap-align: start;
    
    background-color: white;
    margin: 1rem;
    padding: 1rem;
    font-size: 24px;
    border: .1rem solid gray;
    border-radius: .5rem;
  }
  .text-flex{
    display: flex;
    justify-content: flex-start;
  }
  .text-flex img{
    width: 5rem;
    border-radius: 50%;
  }
  .text-flex h5{
    margin:0 1rem ;
  }
  .text-flex span{
    margin:0 1rem ;
  }
  .text{
    font-size: 1rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }