.portfolio-area {
  padding: 130px 0 135px;
}

.section-title {
  margin-bottom: 55px;
}

.portfolio-item {
  position: relative;
  overflow: hidden;
  margin: 0 15px; /* This adds space between slides */
}

.img-holder {
  position: relative;
}

.img-holder img {
  width: 100%;
  display: block;
  gap: 10px;
  transition: transform 0.3s ease;
}

.img-holder:hover img {
  transform: scale(1.1);
}

.portfolio-hover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.portfolio-item:hover .portfolio-hover {
  opacity: 1;
}

.hover-content i {
  color: #fff;
  font-size: 24px;
}

.text {
  padding: 15px 0;
}

.title a {
  font-size: 18px;
  color: #333;
  transition: color 0.3s ease;
}

.title a:hover {
  color: #ff4a17;
}

.cat-link {
  font-size: 14px;
  color: #777;
}
